.moviesslidercontainer {
    background-color: #141414;
    .tracker {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 60%;
        margin: auto;
        gap: 1rem;
        padding-top: 2rem;
        padding-left: 2rem;
        position: relative;
        img {
            border-radius: 10px;
            width: 10rem;
            opacity: 50%;
        }
        h1 {
            position: absolute;
            top: 20rem;
            color: white;
            @include font(('Cairo',sans-serif),5rem,700);
            text-shadow: black 2px 2px 5px;
            text-align: center;
        }
    }
}