@import "./Sass/mixins";
@import "./src/Sasscomponents/navbar";
@import "./src/Sasscomponents/hero";
@import "./src/Sasscomponents/moviesslider";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
