@mixin flex($justifycontent,$alignitems,$gap,$direction) {
    display: flex;
    justify-content: $justifycontent;
    align-items: $alignitems;
    gap: $gap;
    flex-direction: $direction;
}
@mixin font($fontfamily,$fontsize,$fontweight) {
    font-family: $fontfamily;
    font-size: $fontsize;
    font-weight: $fontweight;
}